Repository ONSdigital/gdhi_adj: changes, and which pre-commit hooks are due for each by the changed paths.
All: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

end_of_line_fixer:
  name: Check Python files end with blank line
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/end_of_line_fixer.py
  stages:
  - commit
  language: system

mixed_line_endings:
  name: Fix end of line characters
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/mixed_line_endings.py
  stages:
  - commit
  language: system

remove_whitespace:
  name: Remove trailing whitespace
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/remove_whitespace.py
  stages:
  - commit
  language: system

check_added_large_files:
  name: Check for large added files
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/check_added_large_files.py
  stages:
  - commit
  language: system
  args:
  - --maxkb=500

detect_private_key:
  name: Detect private SSH keys
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/detect_private_key.py
  stages:
  - commit
  language: system

flake8:
  name: Run flake8
  entry: flake8
  stages:
  - commit
  language: system

pydocstyle:
  name: Run pydocstyle
  entry: pydocstyle
  stages:
  - commit
  language: system

python_func_type:
  name: Detect missing python typing
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/python_type_check.py
  stages:
  - commit
  language: system

check_toml:
  name: Check TOML files parsing
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/check_toml.py
  stages:
  - commit
  language: system

name_tests_test:
  name: Check unit tests are named test_*.py
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/name_tests_test.py
  stages:
  - commit
  language: system

check_merge_conflict:
  name: Check for unresolved merge conflicts
  entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/check_merge_conflict.py
  stages:
  - commit
  language: system

Changes to configuration files, addition of saving output file to CSV in pipeline and loading and validation of schema through config.
  config/config.toml
  config/schema_config.toml
  rap_project_example/cleanliness_checks.py
  rap_project_example/pipeline.py
  rap_project_example/utils/configuration.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

Alterations to pipeline.py to introduce column name and data type changes in pipeline process
  rap_project_example/pipeline.py
  rap_project_example/utils/configuration.py
  requirements.txt
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_merge_conflict

Adjustments made removing unneccessary files and alterating file names.
  .gitignore
  config/config.toml
  config/dev_config.toml
  config/input_schema.toml
  config/user_config.toml
  dummy_data/dummydata.csv
  dummy_data/output/agg_data.csv
  rap_project_example/__init__.py
  rap_project_example/cleanliness_checks.py
  rap_project_example/config.py
  rap_project_example/output.py
  rap_project_example/pipeline.py
  rap_project_example/test_function_agg.py
  rap_project_example/utils/configuration.py
  rap_project_example/utils/helpers.py
  rap_project_example/utils/import.py
  requirements.txt
  tests/conftest.py
  tests/test_chispa.py
  tests/test_example.py
  tests/test_preprocess.py
  tests/test_pytest_mock.py
  tests/test_read_toml.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

Addition of unit test and removal of unneccessary module
  tests/test_preprocess.py
  tests/test_remove_nan_rows.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

Add secrets.baseline
  .secrets.baseline
Due: detect_private_key

Added setup notes
  .gitignore
  README.md
  docs/source/Main-Modules.rst
  gdhi_adj/__init__.py
  gdhi_adj/_version.py
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  gdhi_adj/utils/__init__.py
  gdhi_adj/utils/helpers.py
  gdhi_adj/utils/logger.py
  main.py
  tests/test_remove_nan_rows.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

added sharepoint to readme and config
  README.md
  config/config.toml
  gdhi_adj/pipeline.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

Added setup notes (#2)
  .gitignore
  CONTRIBUTING.md
  README.md
  config/config.toml
  config/input_schema.toml
  docs/source/Main-Modules.rst
  gdhi_adj/__init__.py
  gdhi_adj/_version.py
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  gdhi_adj/utils/__init__.py
  gdhi_adj/utils/helpers.py
  gdhi_adj/utils/logger.py
  main.py
  tests/test_remove_nan_rows.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

moved read and write operations into functions
  config/config.toml
  config/output_schema.toml
  gdhi_adj/pipeline.py
  gdhi_adj/utils/helpers.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

Create pull_request_workflow.yaml
  .github/workflows/pull_request_workflow.yaml
Due: detect_private_key

added read and write unit tests
  .github/workflows/pull_request_workflow.yaml
  config/output_schema.toml
  tests/test_helpers.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

adding functions to transform data
  config/config.toml
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  requirements.txt
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

helpers scripts no longer exluded from pre commits
  .pre-commit-config.yaml
  config/config.toml
Due: detect_private_key, check_toml

Outlier detection through Z score and IQR (#4)
  .flake8
  .pre-commit-config.yaml
  README.md
  config/config.toml
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  gdhi_adj/utils/helpers.py
  gdhi_adj/utils/logger.py
  requirements.txt
  runlog.py
  tests/test_helpers.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

added function to calculate mean of non outlier LSOAs in LAD
  config/config.toml
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

addition of QA export and joining lad data
  config/config.toml
  config/input_gdhi_schema.toml
  config/input_ra_lad_schema.toml
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

added unit tests to constrain_to_reg_acc
  gdhi_adj/preprocess.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

added module swtich and started adjustments
  config/config.toml
  config/input_adj_schema.toml
  config/input_constrained_schema.toml
  config/output_schema.toml
  gdhi_adj/adjustment.py
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  gdhi_adj/utils/helpers.py
  tests/test_adjustment.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

Manual adjustments of outliers (#5)
  README.md
  config/config.toml
  config/input_adj_schema.toml
  config/input_constrained_schema.toml
  config/input_gdhi_schema.toml
  config/input_ra_lad_schema.toml
  config/input_unconstrained_schema.toml
  config/output_schema.toml
  gdhi_adj/adjustment.py
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  gdhi_adj/utils/helpers.py
  tests/test_adjustment.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

created adjusted output
  config/config.toml
  config/output_adjustment_schema.toml
  config/output_preprocess_schema.toml
  gdhi_adj/adjustment.py
  gdhi_adj/preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

adding adjustment unit tests
  gdhi_adj/adjustment.py
  tests/test_adjustment.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

added remaining adjustment unit tests
  gdhi_adj/adjustment.py
  tests/test_adjustment.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

removal of transaction_code and updated config
  config/config.toml
  config/input_adj_schema.toml
  config/input_constrained_schema.toml
  config/input_gdhi_schema.toml
  config/input_ra_lad_schema.toml
  config/input_unconstrained_schema.toml
  config/output_adjustment_schema.toml
  config/output_preprocess_schema.toml
  gdhi_adj/preprocess.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

separated out user and dev readme
  README.md
Due: detect_private_key

changed flags to false for rollback years
  config/config.toml
  config/input_ra_lad_schema.toml
  gdhi_adj/preprocess.py
  gdhi_adj/utils/helpers.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

added rollback_flag
  gdhi_adj/preprocess.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

reconfigured preprocessing scripts
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess.py
  gdhi_adj/preprocess/__init__.py
  gdhi_adj/preprocess/calc_preprocess.py
  gdhi_adj/preprocess/flag_preprocess.py
  gdhi_adj/preprocess/join_preprocess.py
  gdhi_adj/preprocess/pivot_preprocess.py
  gdhi_adj/preprocess/run_preprocess.py
  tests/preprocess/__init__.py
  tests/preprocess/test_calc_preprocess.py
  tests/preprocess/test_flag_preprocess.py
  tests/preprocess/test_join_preprocess.py
  tests/preprocess/test_pivot_preprocess.py
  tests/test_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

calculation efficiency improvements
  config/config.toml
  gdhi_adj/pipeline.py
  gdhi_adj/preprocess/calc_preprocess.py
  gdhi_adj/preprocess/flag_preprocess.py
  gdhi_adj/preprocess/run_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

added directional flag to calc_zscore
  README.md
  gdhi_adj/preprocess/calc_preprocess.py
  gdhi_adj/preprocess/run_preprocess.py
  tests/preprocess/test_calc_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

new zscore and iqr methods at la level
  config/config.toml
  gdhi_adj/preprocess/calc_preprocess.py
  gdhi_adj/preprocess/flag_preprocess.py
  gdhi_adj/preprocess/run_preprocess.py
  tests/preprocess/test_calc_preprocess.py
  tests/preprocess/test_flag_preprocess.py
  tests/preprocess/test_pivot_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

update version
  gdhi_adj/_version.py
Due: mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_merge_conflict

changed gdhi_annual to uncon_gdhi
  gdhi_adj/preprocess/calc_preprocess.py
  gdhi_adj/preprocess/join_preprocess.py
  gdhi_adj/preprocess/pivot_preprocess.py
  gdhi_adj/preprocess/run_preprocess.py
  tests/preprocess/test_calc_preprocess.py
  tests/preprocess/test_join_preprocess.py
  tests/preprocess/test_pivot_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

added negative value apportionment and testing
  gdhi_adj/adjustment/calc_adjustment.py
  gdhi_adj/adjustment/run_adjustment.py
  tests/adjustment/test_calc_adjustment.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, name_tests_test, check_merge_conflict

Added a coverage report
  .gitignore
  requirements.txt
  run_coverage.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_merge_conflict

code review feedback
  gdhi_adj/adjustment/calc_adjustment.py
  gdhi_adj/preprocess/flag_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_merge_conflict

Updates to code to reflect dummy data input (#9)
  .gitignore
  README.md
  config/config.toml
  config/schemas/input_adj_schema.toml
  config/schemas/input_constrained_schema.toml
  config/schemas/input_unconstrained_schema.toml
  config/schemas/output_adjustment_schema.toml
  gdhi_adj/adjustment/calc_adjustment.py
  gdhi_adj/adjustment/filter_adjustment.py
  gdhi_adj/adjustment/join_adjustment.py
  gdhi_adj/adjustment/pivot_adjustment.py
  gdhi_adj/adjustment/reformat_adjustment.py
  gdhi_adj/adjustment/run_adjustment.py
  gdhi_adj/preprocess/calc_preprocess.py
  gdhi_adj/preprocess/flag_preprocess.py
  gdhi_adj/preprocess/join_preprocess.py
  gdhi_adj/preprocess/pivot_preprocess.py
  gdhi_adj/preprocess/run_preprocess.py
  requirements.txt
  run_coverage.py
  tests/adjustment/test_calc_adjustment.py
  tests/adjustment/test_filter_adjustment.py
  tests/adjustment/test_join_adjustment.py
  tests/adjustment/test_pivot_adjustment.py
  tests/adjustment/test_reformat_adjustment.py
  tests/preprocess/test_calc_preprocess.py
  tests/preprocess/test_flag_preprocess.py
  tests/preprocess/test_join_preprocess.py
  tests/preprocess/test_pivot_preprocess.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, name_tests_test, check_merge_conflict

Added placeholder for mapping
  config/config.toml
  config/schemas/lau_lad_schema.toml
  gdhi_adj/mapping/__init__.py
  gdhi_adj/mapping/mapping.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

Added the runner for mapper to start from the repository root. Modified flake8 to allow loading imports after chdir. Relaxed some flake8 rules for that.
  .pre-commit-config.yaml
  gdhi_adj/mapping/mapping.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_merge_conflict

Function runs end to end
  __init__.py
  config/config.toml
  config/schemas/lau_lad_schema.toml
  gdhi_adj/mapping/mapping.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

Made aggregation conditional, as it is reduntand if we have LSOA and LAU/D data
  config/config.toml
  gdhi_adj/mapping/mapping.py
Due: end_of_line_fixer, mixed_line_endings, remove_whitespace, check_added_large_files, detect_private_key, flake8, pydocstyle, python_func_type, check_toml, check_merge_conflict

Path conditions:
  end_of_line_fixer: any of: \.py$, but not: _version.py
  mixed_line_endings: any of: \.py$
  remove_whitespace: any of: \.py$
  check_added_large_files: any of: \.py$
  detect_private_key: any file but: detect_private_key.py
  flake8: any of: \.py$
  pydocstyle: any of: \.py$, but not: __init__.py
  python_func_type: any of: \.py$, but not: python_type_check.py
  check_toml: any of: \.toml$
  name_tests_test: any of: (^|/)tests/.+\.py$ and \.py$
  check_merge_conflict: any of: \.py$
